.logo a {text-decoration:none}	
.logo {
	/*position:relative;*/
	/*float:left;*/
	font-size: 25px;
}
.logo_bg_white{
	color: white;
}
.image_logo{
	float: left;
	/*height: 50px;*/
	width: 150px;
	overflow: hidden;
}

/*------------------------------------Submit button -----------------*/

button[type=submit]{
	-moz-box-shadow:inset 0px 0px 0px -1px #cae3fc;
	-webkit-box-shadow:inset 0px 0px 0px -1px #cae3fc;
	box-shadow:inset 0px 0px 0px -1px #cae3fc;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #4197ee) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #4197ee 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#4197ee');
	background-color:#79bbff;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0px;
	border:2px solid #469df5;
	display:inline-block;
	color:#fff0ff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:30px;
	line-height:22px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:2px 2px 1px #287ace;
	float: right;
}
.classname:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4197ee), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #4197ee 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4197ee', endColorstr='#79bbff');
	background-color:#4197ee;
}.classname:active {
	position:relative;
	top:1px;
}


/*------------------------------------Carousel img-------------------*/
.carousel-feature img{
	width: 411px;
	height: 449px;
	overflow: hidden;
}
/*------------------------------------frontbox img-------------------*/
.img-indent2 img{
	width: 84px;
	height: 92px;
	overflow: hidden;
}
/*------------------------------------sidebox img-------------------*/
.img-indent img{
	width: 80px;
	height: 80px;
	overflow: hidden;
}

/*------------------------------------Contact Form-------------------*/
#contact-form {width:580px}
#contact-form label {
	display:block; 
	height:44px;
}
#contact-form input {
	width:548px; 
	font-size:15px; 
	line-height:1.2em;
	color:#a0a0a0; 
	padding:8px 15px; 
	margin:0; 
	font-family:Arial, Helvetica, sans-serif; 
	border:1px solid #fff; 
	background:url(../images/input-tail.gif) 0 0 repeat-x #e6e6e6;
	outline:none;
}
#contact-form textarea {
	height:158px; 
	overflow:auto; 
	width:548px; 
	font-size:15px; 
	line-height:1.2em;
	color:#a0a0a0; 
	padding:7px 15px; 
	margin:0; 
	font-family:Arial, Helvetica, sans-serif; 
	border:1px solid #fff; 
	background:url(../images/text-area-tail.gif) 0 0 repeat-x #e5e5e5;
	outline:none;
}

#contact-form2 {
	display:block;
	width:580px;
}
	#contact-form2 div {
		display:block; 
		height:30px; 
		overflow:hidden;
	}
	#contact-form2 input {
		float:left; 
		width:483px; 
		font-size:12px; 
		line-height:1.25em;
		color:#333;
		padding:3px 10px; 
		margin:0; 
		font-family:Arial, Helvetica, sans-serif; 
		border:none; 
		background:#fff;
		outline:none;
		border: 1px solid #27B1DB;
	}
	#contact-form2 textarea {
		float:left;
		height:240px; 
		width:483px; 
		font-size:12px; 
		line-height:1.25em;
		color:#333;
		padding:3px 10px; 
		margin:0; 
		font-family:Arial, Helvetica, sans-serif; 
		border:none; 
		background:#fff;
		overflow:auto;
		outline:none;
		border: 1px solid #27B1DB;

	}
#contact-form2 label {
	float:left; 
	display:block; 
	font-size:13px;
	line-height:24px;
	width:74px; 
	color:#333;
	font-family:Arial, Helvetica, sans-serif;
}

#contact_country_tel input{
	display: inline;
	border: 1px solid #27B1DB;
	/*background-color: #27B1DB;*/
	max-width: 400px;
}

#contact_country_tel .contact_country{
	/*background-color: red;*/
	width: 45px;
	margin-right: 15px;
}

/*-------------------------------------------------------------------*/


/*----------------------Admin Create Update forms--------------------*/
.admin_create_update_form label{
	display: block;
	overflow: hidden;
	height: 0;
	width: 0;
}
.admin_create_update_form input{
	background: transparent;
	max-width: 400px;
	border: none;
	height:30px; 
}

.subtitle1 input{
	font-size:17px; 
	line-height:1.2em; 
	color:#39b9d6;
	text-transform:uppercase;
}
.subtitle2 input {
	display:block;
	color:#333;
	text-transform:none;
}
	h4 strong {
		display:block;
		margin-top:-3px;
	}

.title input{
	font-size:26px; 
	line-height:2em; 
	color:#333;
	margin-bottom:3px;
}

.various input{
	display:block;
	font-size:18px;
	line-height:24px;
	color:#999;
	content: "various";
}
.subtitle3 input {
	display:block;
	color:#929292;
}

/*----------------------Company Page -------------------------------*/
.company_frontbox{
	width: 260px;
	height: 120px;
}
/*----------------------Services Page ------------------------------*/
.services_frontbox{
	display: block;
	clear: both;
	overflow: hidden;
}
.services_frontbox img{
	width: 93px;
	height: 86px;
}
.bottombox1 img{
	width: 220px;
	height: 148px;
}
/*----------------------Page Created -------------------------------*/

.page img{
	width: 960px;
	height: 150px;
	margin: 5px 0 25px 0;
}

.right_column{
	float: right;
	width: 250px;
}
.page_main_text{
	margin-top: 20px;
}
/*----------------------Facebook and Twitter Buttons ---------------*/

.border-bot li{
	padding-bottom: 15px;
	padding-top: 15px;
}

.pluginConnectButton{
	line-height: 26px;
}