<div id="carousel">
  {% for carousel in carousels %}
      <div class="carousel-feature">
        <a href="#"><img class="carousel-image" alt="{{ carousel.name }}" src="{{ asset('uploads/') }}{{ carousel.upload.url }}"></a>                          
      </div>
{% endfor %}
</div>