{% block footer %}
    <article class="col-2-3">
        <div class="wrap-col">
        <!-- <h4>Contact Form:</h4>
        <form id="contact-form" method="post">
            <fieldset>
                <label><input name="email" value="Email" onBlur="if(this.value=='') this.value='Email'" onFocus="if(this.value =='Email' ) this.value=''" /></label>
                <label><input name="subject" value="Subject" onBlur="if(this.value=='') this.value='Subject'" onFocus="if(this.value =='Subject' ) this.value=''" /></label>
                <textarea onBlur="if(this.value=='') this.value='Message'" onFocus="if(this.value =='Message' ) this.value=''">Message</textarea>
                <div class="buttons">
                    <a href="#" onClick="document.getElementById('contact-form').reset()">Clear</a>
                    <a href="#" onClick="document.getElementById('contact-form').submit()">Send</a>
                </div>                                          
            </fieldset>           
        </form> -->

                        <ul>
                            <li>qsdf</li>
                            <li>qsdf</li>
                            <li>qsdf</li>
                            <li>qsdf</li>
                            <li>qsdf</li>
                            <li>qsdf</li>
                            <li>qsdf</li>
                        </ul>
                        <ul>
                            <li>qsdf</li>
                            <li>qsdf</li>
                            <li>qsdf</li>
                            <li>qsdf</li>
                            <li>qsdf</li>
                            <li>qsdf</li>
                            <li>qsdf</li>
                        </ul>
        </div>
    </article>
    <article class="col-1-3">
        <div class="wrap-col">
        <h4 class="indent-bot">Link to Us:</h4>
        <ul class="border-bot">
            <li>
                <div class="fb-like" data-href="http://www.facebook.com/kns.www" data-layout="button" data-action="recommend" data-show-faces="true" data-share="false"     ></div>
            </li>
            <li><a href="https://twitter.com/KNS3W" class="twitter-follow-button item-1" data-show-count="false" data-lang="fr" data-size="">Follow @KNS3W</a></li>
            
        </ul>
        <p class="p1">Copyright &copy; 2011 </p>
        </div>
    </article>

{% endblock %}