{% block header %}
    
<!--==============================header=================================-->
        <header>
        	<div class="row-top">
            	<div class="main">
                	<div class="wrapper">
                        <h1 class="logo"><a href="{{ path('app_app_homepage') }}">K<span class="logo_bg_white">N</span>S-3W</a></h1>
                        <!-- <form id="search-form" method="post" enctype="multipart/form-data">
                        <fieldset>	
                            <div class="search-field">
                                <input name="search" type="text" value="Search..." onBlur="if(this.value=='') this.value='Search...'" onFocus="if(this.value =='Search...' ) this.value=''" />
                                <a class="search-button" href="#" onClick="document.getElementById('search-form').submit()"></a>	
                            </div>						
                        </fieldset> 
                    </form>-->
                    </div>
                </div>
            </div>
            <div class="menu-row">
            	<div class="menu-bg">
                    <div class="main">
                        <nav class="indent-left">
                            <ul class="menu wrapper">
                                {% block menu %}
                                    {{ render(controller("AppMenuBundle:Menu:menu")) }}
                                {% endblock %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="row-bot">
            	<div class="center-shadow">
                	<div class="carousel-container">
                        {% block carousel %}
                        {% endblock %}
    				</div>
                </div>
                <div class="flashbag">
                    {% for message in app.session.flashbag.get('info') %}
                        <div class="success">
                            <p class="main">{{ message }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </header>

{% endblock %}